name: Pull Requests
permissions:
  contents: read
  pull-requests: write
  checks: write # Required for test reporting

on:
  pull_request:
    branches: [ main ]

env:
  NODE_VERSION: '22.x'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
    
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'
        
    - name: Install dependencies
      run: npm ci
      
    - name: Build
      run: npm run build
      
    - name: Run Jest tests
      run: npm test -- --watchAll=false --ci --json --outputFile=jest-results.json
      env:
        CI: true

    - name: Install Playwright browsers
      run: npx playwright install --with-deps
      
    - name: Run Playwright tests
      run: npx playwright test
      